body {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-image: url("oldpaper2.jpg");
    background-image: no-repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    
}

.pageHeader {
    padding: 20px;
    margin: 10px;
    background: #ccffff;
    background-image: url("pencils1.jpg");
    background-repeat: no-repeat;
    background-position: right;
    box-shadow: 0 4px 6px #291528;
}

.pageHeader {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-align: right;
    text-shadow: 2px 2px 7px #291528;
    color: #ffffff;
    line-height: 0.3em;
}

.pageTitle {
    font-size: 60px;
}

.pageSubTitle {
    font-size: 25px;
}

#inputDiv {
    padding: 20px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    
}

#priorityIn {
    width: 100px;
    border-radius: 3px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
}

#noteIn {
    height: 30px;
    width: 400px;
    border-radius: 3px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
}

#addNote {
    border-radius: 3px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
}

#outputDiv {
    overflow: auto;
}

.checkBtn {
    border-radius: 3px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
}

.deleteBtn {
    border-radius: 3px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
}

.sectionHeader {
    height: 85px;
    width: 600px;
    margin-left: auto;
    margin-right: auto;
    
    background-repeat: no-repeat;
    background-position: center;
    
}

.sectionHeader {
    text-align: center;
    text-shadow: 2px 2px 7px #291528;
    color: #050505;
    font-size: 45px;
       
}

#listWrapper {
    
    width: 600px;
    margin-top: 10px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    font-size: 16px;
    
}


tr {
    padding: 10px;
    border-radius: 3px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px; 
    box-shadow: 0 4px 6px #291528;
    line-height: 2em;
}

.row {
    color: black;
    
}

.completedRow {
    color: lightslategrey;
    text-decoration: line-through;
    
}

.pageFooter {
    width: 100%;
    background: #ccffff;
    background-image: url("pencils1.jpg");
    background-repeat: no-repeat;
    background-position: right;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    height: 100px;
    overflow: hidden;
}

.pageFooter {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-align: right;
    text-shadow: 2px 2px 7px #291528;
    color: #ffffff;
}

p {
    padding: 2px;
    margin: 2px;
}